:root{
    --radius:83px;
}


.index{
    background: black;
    background-image: url(img/LIQUIDDlong.jpg);
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    
}   

.index2{
    background: black;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    
}   


/*@media (min-width: 1200px){
    .index {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 660px){
    .index {
        display: grid;
        grid-template-columns: 1fr
    } 
}
*/



header{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px; 
}

/*.bgimage{
    background-image: url(img/Hnet-image.gif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);  
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

h1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: 2;
    background-image: url(img/Hnet-image.gif);
    background-repeat: no-repeat;
    background-size: cover;
      
}

.Minuit{
    font-size:300px;
    grid-column: span 2;
    margin-top: -5%;
    margin-bottom: -5%;
}

.ALN{
    font-size: 96px;
    grid-column: span 2;
    margin-top: 10px;
}

.lieu{
    text-align: right;
}

h2{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: repeat(6,1fr);
    font-size: 96px;
    gap: 10px;
}

.progacc{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    font-size: 64px;
    grid-column: span 5;
    background: white;
    color: black;
    border-bottom-right-radius:var(--radius) ;
    padding: 10px;
}

.artiste{
    font-size: 48px;
    font-weight: lighter;
}

.chiffre{
    font-size: 160px;
    margin-top: 30px;
}

.grille{
    align-self: center;
    justify-self: center;
    
}

.grart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.artistehover:hover{
    filter: blur(10px);
    transition: 0.5s;
    
}

img{
    display: block;
    max-height: 100%;
    width: 100%;
}

.titreprog{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

.titre{
    font-size: 144px;
    font-weight: bolder;
    padding-top: 200px;
}

.soustitre{
    font-size: 96px;
    text-align: center;
    padding-top: 350px;
}

.nombre{
    font-size: 700px;
    margin-bottom: -220px;
    font-weight: bolder;
    margin-top: -100px;
}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("img/trav.png");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-image2 {
    /* The image used */
    background-image: url("img/m83.png");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }

  p{
      font-weight: normal;
      font-size: 20px;
  }